nav {
  background-color: #fd7e14;
}

nav img {
  width: auto;
  height: 47px;
  padding-left: 10px;
}

.custom-dropdown-width {
  width: 300px;
}

.custom-divider {
  margin-top: -12px;
}

@media screen and (max-width: 992px) {
  .logo-container {
    width: 100%;
    text-align: center;
  }

  .logo-container img {
    padding-left: 0px;
  }
}
