.register-main-container {
  height: calc(100vh - 73px);
  background-image: url("register-background.jpeg");
  background-size: cover; /* This ensures the image covers the entire div */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.register-focus-container {
  width: 350px;
  opacity: 0.95;
}

.register-heading {
  margin-top: 50px;
}

.register-form {
  padding-top: 30px;
  width: 300px;
}

.sign-in-input-padding {
  margin-top: 25px;
}

.sign-up-btn {
  margin-top: 25px;
  margin-bottom: 20px;
  width: 100px;
  height: 50px;
}

/* 992px is the breakpoint for container-lg in bootstrap  */
@media (max-width: 992px) {
  .register-main-container {
    height: calc(100vh - 113px);
  }
}
