.catalog-heading {
  padding-left: 10px;
  padding-top: 10px;
}

.container {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns per row */
  gap: 20px; /* Adjust the gap between products */
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.dropdown {
  margin-left: 10px;
}
